
.headerContainer{
width:100%;
padding: 18px;
margin-bottom:100px;
background-color:pink;
position:fixed;
top:0;
left: 0;
z-index:100;
display:flex;
align-items:center;
justify-content:space-between;

}



.headerContainer .headerMenu{
margin:50px;
padding:12px;
display:flex;
flex-direction:column;
align-items:flex-start;
gap:42px;
}


.headerContainer nav{
position:relative;
}

.headerContainer nav ol{
display:none;
}

.headerContainer nav ul{
position:absolute;
top:-40px;
right:-20px;
padding:20px;
height:100vh;
background-color:#FBA0B5;
display:flex;
flex-direction:column;
align-items:flex-start;
gap:20px;
transition:all 400ms ease-in;
}

.headerContainer .headerMenuClose{
cursor:pointer;
}


.headerContainer nav ul li{
cursor: pointer;
font-weight:700;
font-size:20px;
transition:all 400ms;
}

.headerContainer nav ul li:hover{
color:#FF1694;
}


.mainContainer{
margin:0 auto;
width: 90%;
display: grid;
grid-template-columns: 40% 60%;
grid-template-rows:1;
}

.mainContainer .mainLeft{
padding-top:40%;
padding-left:30%;
padding-right:30%;
width:100%;
display:flex;
flex-direction: column;
align-items:center;
gap: 18px;
}

.mainContainer .mainLeft input{
width:100%;
padding:10px;
}

.mainContainer .mainRight{
margin-right:20px;
width:100%;
display:grid;
grid-template-columns:repeat(3,1fr);
grid-template-rows:auto;
gap: 18px;
align-items:center;
}

.mainContainer .mainRight .unitContainer p{
display:flex;
align-items:center;
justify-content:space-between;
}

.mainContainer .mainRight .unitContainer image{
width:100%;
object-fit:contain;
}


@media only screen and (min-width: 768px) {
.headerContainer nav ul,
.headerContainer nav .hMenu {
display:none;
}
.headerContainer nav ol{
display:flex;
align-items:center;
justify-content:center;
gap:20px;
}
.headerContainer nav ol li{
font-weight:bold;
cursor:pointer;
transition:all 400ms ease-in;
}
.headerContainer nav ol li:hover{
color:red;
}
}

